.App {
    text-align: center;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.products .product {
    width: 280px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.products .product:hover {
    border: 2px solid rgb(1, 38, 103);
}

.products .product .img {
    height: 150px;
    padding: 10px;
}

.products .product .title {
    font-size: 18px;
    color: rgb(1, 38, 103);
}

.products .product .blockPrices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    font-size: 16px;
    color: rgb(1, 38, 103);
}

.blockPriceLast {
    font-size: 16px;
    color: rgb(166, 166, 167);
    text-decoration: line-through;
}

.heartCard {
    font-size: 16px;
    color: rgb(1, 38, 103);
}

.products .product .button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    font-size: 16px;
    background: rgb(1, 38, 103);
}